<div class="row" style="margin-top: 10vh;">
    <div class="col-2 offset-2">
        <div class="dropdown">
            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Type
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <a *ngFor="let type of list_article_types;" class="dropdown-item" href="#">
                    {{ type.type }}
                </a>
            </div>
        </div>
    </div>
    <div class="col-2">
        <div class="dropdown">
            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Game
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <a *ngFor="let game of list_video_games;" class="dropdown-item" href="#">
                    {{ game.name }}
                </a>
            </div>
        </div>
    </div>
    <div class="col-2">
                <div class="dropdown">
            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Platform
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <a *ngFor="let platform of list_platforms;" class="dropdown-item" href="#">
                    {{ platform.name }}
                </a>
            </div>
        </div>
    </div>
    <div class="col-2">
                <div class="dropdown">
            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Genre
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <a *ngFor="let genre of list_genres;" class="dropdown-item" href="#">
                    {{ genre.name }}
                </a>
            </div>
        </div>
    </div>
</div>
