<div class="row" style="margin-top: 10vh;">
    <div class="col-2 offset-2">
        <div class="dropdown">
            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Type
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <a class="dropdown-item" href="#">News</a>
                <a class="dropdown-item" href="#">Review</a>
                <a class="dropdown-item" href="#">Editorial</a>
                <a class="dropdown-item" href="#">Rumors</a>
            </div>
        </div>
    </div>
    <div class="col-2">
        <div class="dropdown">
            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Game
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <a class="dropdown-item" href="#">Overwatch</a>
                <a class="dropdown-item" href="#">Assassin's Creed Odyssey</a>
                <a class="dropdown-item" href="#">The Sims 4</a>
                <a class="dropdown-item" href="#">Human: Fall Flat</a>
            </div>
        </div>
    </div>
    <div class="col-2">
                <div class="dropdown">
            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Platform
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <a class="dropdown-item" href="#">Steam</a>
                <a class="dropdown-item" href="#">Battle.net</a>
                <a class="dropdown-item" href="#">Origin</a>
                <a class="dropdown-item" href="#">Indies</a>
            </div>
        </div>
    </div>
    <div class="col-2">
                <div class="dropdown">
            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Genre
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <a class="dropdown-item" href="#">Stealth</a>
                <a class="dropdown-item" href="#">Simulation</a>
                <a class="dropdown-item" href="#">Hack and slash</a>
                <a class="dropdown-item" href="#">Puzzle</a>
            </div>
        </div>
    </div>
</div>
