$px: 300px;

.px-300 {
    width: $px;
    max-width: $px;
    height: $px;
    max-height: $px;
}

.px-24 {
    font-size: 24px;
}

.margin-top-40 {
    margin-top: 40px;
}

.margin-btm-40 {
    margin-bottom: 40px;
}

.btns-edit_and_del {
    display: flex;
    justify-content: space-around;
    margin-top: 40px;

    button {
        font-size: 24px;
        width: 150px;
    }
}

.title {
    font-size: 30px;
    text-decoration: underline;
}

.date {
    color: grey;
    font-size: 22px;
}

.content {
    font-size: 22px;
}
