<div class="row">
    <div class="col-11">
        <!-- <a [routerLink]="['articles', { 'id': id }]"> -->
        <a [routerLink]="[id]">
        <div class="media border-grey">
            <img src="../../assets/images/video_game/{{ image }}.jpg" class="mr-3 px-100" alt="video game's image">
            <div class="media-body">
                <div class="header">
                    <div class="header-top">
                        <h5 class="mt-0">{{ title }}</h5>
                        <div class="posted-at">
                            -- posted on the {{ postedAt | date: 'dd MMMM yyyy' }}
                        </div>
                    </div>
                    <div class="header-down">
                        <span [class]="getType()">
                            {{ type }}
                        </span>
                    </div>
                </div>
                <p class="mb-0">{{ content }}</p>
            </div>
        </div>
        </a>
    </div>
    <div class="col-1">
        <div class="control-panel">
            <a routerLink="/articles/edit/{{ id }}">
            <div class="edit">Edit <fa-icon [icon]="fa_pencil_alt" style="color: green;"></fa-icon></div>
            </a>
            <div class="delete-article" (click)="onDelete(id)">
                <div class="delete" style="margin-top: 5px;">Del. <fa-icon [icon]="fa_times" style="color: red;"></fa-icon></div>
            </div>
        </div>
    </div>
</div>
