$size: 100px;

.px-100 {
    width: $size;
    max-width: $size;
    height: $size;
    max-height: $size;
}

a {
    color: black;
}

.border-grey {
    border: 1px solid grey;
}

.header {
    position: relative;

    h5 {
        max-width: 450px;
    }
}

.header-top {
    display: flex;

    .posted-at {
        position: absolute;
        right: 5px;
        color: grey;
    }
}

.px-18 {
    font-size: 18px;
}

.control-panel {
    font-size: 20px;
}
