<a routerLink="/articles/new/create">
<button type="button" class="btn btn-info col-6 offset-3" style="margin-top: 50px; font-size: 24px;">Create new article</button>
</a>
<div class="list-articles">
    <div *ngFor="let article of list_articles;" class="margin-bottom-50 max_h-150">
        <app-articles-list-article 
            [id]="article.id" 
            [title]="article.title" 
            [postedAt]="article.postedAt" 
            [content]="article.content"
            [videoGameId]="article.videoGameId" 
            [articleTypeId]="article.articleTypeId">
        </app-articles-list-article>
    </div>
</div>
