$px: 60px;

.grey-line {
    border-top: 1px solid rgb(189, 186, 186);
    margin-bottom: 80px;
}

.px-60 {
    width: $px;
    max-width: $px;
    height: $px;
    max-height: $px;
}

.pink-darken {
    color: #880e4f;
}

.body-header {
    position: relative;
    display: flex;

    .posted_at {
        position: absolute;
        right: 25px;
        color: gray;
    }
}
